body {
	font-family: 'Sora', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}

body.no-scroll {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #444;
}

/* default font size */
.fa {
	font-size: 14px;
}

/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10.2px;
}

a {
	color: #e45197;
}

a:hover {
	color: #ff2f92;
	text-decoration: none;
}

legend {
	font-size: 18px;
	padding: 7px 0px
}

label {
	font-size: 12px;
	font-weight: normal;
}

select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
	font-size: 12px;
}

.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover {
	font-size: 12px;
}

.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}

/* Fix some bootstrap issues */
span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}

div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}

.color-theme {
	color: #e45197;
}

a.color-theme:hover {
	color: #ff2f92;
}

.btn-theme,
.btn-primary {
	background: #e45197 !important;
	border: 1px solid rgb(0 0 0 / 15%) !important;
	color: #FFF !important;
}

.btn-theme:hover,
.btn-theme:active,
.btn-primary:hover,
.btn-primary:active {
	background: #ff2f92 !important;
	color: #FFF !important;
}

#button-cart {
	font-size: 22px;
	font-weight: bold;
}

.fs-7{
	font-size:12px !important;
}
.fs-8{
	font-size:11px !important;
}
.fs-9{
	font-size:10px !important;
}

/* HEADER */
header #header-menu .menu-dropdown:hover .dropdown-menu,
header #header-menu .menu-dropdown:hover .dropdown-menu ul li {
	display: block;
}

header #header-menu .menu-dropdown:hover .dropdown-menu ul {
	margin-bottom: 0;
}

header #header-menu .menu-dropdown:hover .dropdown-menu ul li a {
	padding: 5px;
	display: block;
	color: #555;
}

header #header-menu .menu-dropdown:hover .dropdown-menu ul li a:hover {
	background: none;
	color: #e45197;
}


header #header-menu .menu-dropdown>a,
header #header-menu a.dropdown-toggle {
	color: #111;
	transition: 0.25s all ease;
}

#cart > a {
    font-size: 17px;
    position: relative;
}

#cart > a > i {
    font-size: 25px;
}

#cart > a #cart-total {
    position: absolute;
    top: -10px;
    left: -10px;
    text-align: center;
    height: 20px;
    width: 20px;
    line-height: 19px;
    font-size: 10px;
    background: #e45197;
    border: 1px solid rgb(0 0 0 / 15%);
    color: #FFF;
    border-radius: 100%;
    font-weight: bold;
}

/* cart */
#cart>.btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}

#cart.open>.btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}

#cart.open>.btn:hover {
	color: #444;
}

#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}

#cart .dropdown-menu {
	min-width: 100%;
	overflow-y: auto;
	max-height: 800px;
	scrollbar-width: thin;
	overflow-x: hidden;
}

#cart .dropdown-menu ul {
    position: relative;
}

#cart .dropdown-menu li.cart-footer {
    border-top: 1px solid #DDD;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 20px 0 0;
}

#cart .dropdown-menu li.cart-footer .row {
    padding: 0;
    margin: 10px 0;
}

#cart .dropdown-menu li.cart-footer a.btn {
    padding: 6px 10px;
    border-radius: 100px;
}

@media (max-width: 650px) {
	#cart > a > span {
		/* display:none; */
	}
}

@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}

#cart .dropdown-menu table {
	margin-bottom: 10px;
}

#cart .dropdown-menu li p {
	margin: 20px 0;
}

header #header-menu .menu-dropdown:hover>a,
header #header-menu .menu-dropdown>a:hover,
header #header-menu .menu-dropdown>a:active,
header #header-menu a.dropdown-toggle:hover,
header #header-menu a.dropdown-toggle:active {
	color: #e45197;
}

header #header-menu #wishlist a>i {
	font-size: 25px;
	color: #111;
}

header #header-menu #wishlist a>i.far,
header #header-menu #wishlist a:hover>i.fa {
	display: inline-block;
}

header #header-menu #wishlist a>i.fa,
header #header-menu #wishlist a:hover>i.far {
	display: none;
}

header #header-menu #wishlist a:hover>i.fa {
	color: #e45197 !important;
}

/* Gradent to all drop down menus */
.dropdown-menu li>a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #ff2f92;
}

/* top */
#top {
	background-color: #e45197;
	border-bottom: 1px solid #0000004f;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}

#top .container {
	padding: 0 20px;
}

#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}

#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #ff2f92;
}

#top .btn-link,
#top-links li,
#top-links a {
	color: #FFF;
	text-decoration: none;
}

#top .btn-link:hover,
#top-links a:hover {
	color: #444;
}

#top-links .dropdown-menu a {
	text-shadow: none;
}

#top-links .dropdown-menu a:hover {
	color: #FFF;
}

#top .btn-link strong {
	font-size: 14px;
	line-height: 14px;
}

#top-links {
	padding-top: 6px;
}

#top-links a+a {
	margin-left: 15px;
}

/* logo */
#logo {
	margin: 0 0 10px 0;
}

#logo img {
	max-width: 240px;
}

/* search */
#search {
	margin-bottom: 10px;
}

#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
	border: 1px solid #DDD;
	box-shadow: none;
}

#search .btn-lg {
	line-height: 15px;
	padding: 10px 17px;
	text-shadow: none;
	background: #e45197;
	color: #FFF;
	border: 1px solid rgb(0 0 0 / 15%);
}

#search .btn-lg:hover,
#search .btn-lg:active {
	background: #ff2f92;
}

#search .btn-lg i {
	font-size: 18px;
}

/* menu */
#menu {
	background-color: #ffffff;
	box-shadow: 0 5px 5px #00000026;
	min-height: 50px;
}

#menu .nav {
	width: 100%;
	display: block;
	text-align: center;
}

#menu .nav>li {
	display: inline-block;
}
@media screen and (max-width:767px){
	#menu .nav>li{
		display:block;
	}
}

#menu .nav>li.allCategories > a {
    font-weight: bold;
}

#menu .nav>li.allCategories {
    background: #F2F2F2;
}

#menu .nav>li.allCategories.open {
    background: #e45197;
}

#menu .nav>li.allCategories.open > a {
    color: #FFF;
}

@media screen and (min-width:767px){
	#menu .nav>li.allCategories:hover > .dropdown-menu{
		display:block;
	}
}

#menu .nav>li.dropdown-fullwidth {
	position: inherit;
}

#menu .nav>li.dropdown-fullwidth .dropdown-menu {
	width: 80%;
	left: 10%;
	margin-left: 0 !important;
	top: auto;
}

#menu .nav>li.dropdown-fullwidth .dropdown-menu .dropdown-inner {
	width: 100%;
}

@media screen and (max-width:767px){
	#menu .nav>li.dropdown-fullwidth .dropdown-menu{
		left:0;
		width:100%;
	}
	#menu .dropdown-inner a{
		padding:6px 10px;
	}
}

#menu .nav>li>a {
	color: #111;
	padding: 10px 15px 10px 15px;
	background-color: transparent;
	font-size: 13px;
}

#menu .nav>li>a i {
    display: none;
}

#menu .nav>li:hover>a,
#menu .nav>li.open>a {
	color: #e45197;
}

#menu .nav>li.open>a i {
    transform: rotate(90deg);
}

#menu .dropdown-menu {
	padding-bottom: 0;
}

#menu .nav>li.allCategories .dropdown-menu {
    background: #FFF;
    border-radius: 0;
    padding: 10px 5px;
    min-width: 280px;
}

#menu .nav>li.allCategories .dropdown-menu li:hover {
    background: #e45197;
}

#menu .nav>li.allCategories .dropdown-menu li:hover > a {
    color: #FFF;
}

#menu .nav>li.allCategories .dropdown-menu li .dropdown-menu {
    left: 100%;
    top: 0;
    background: #FFF;
    border-color: #e45197;
    border-left: 6px solid #e45197;
    box-shadow: none !important;
}

#menu .dropdown-inner {
	display: table;
	width: 100%;
}

#menu .dropdown-inner ul {
	display: table-cell;
}

#menu .dropdown-inner a {
	min-width: 160px;
	width: 100%;
	display: block;
	padding: 4px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 13px;
}

#menu .nav>li.allCategories .dropdown-menu a i.fa {
    position: absolute;
    right: 7px;
    top: 8px;
}

#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}

#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}

#menu .see-all:hover,
#menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #ff2f92;
}

#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #111;
	text-shadow: none;
}

#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #e45197;
	border: 1px solid rgb(0 0 0 / 15%);
}

#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #ff2f92;
}

@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}

.btn-navbar-close{
    display:none !important;
}

@media (max-width: 767px) {
    button.btn-navbar-close {
        position: absolute;
        top: -6px;
        right: 0;
        z-index: 99999;
        display: block !important;
        padding: 10px 15px !important;
        line-height: 10px;
    }

    button.btn-navbar-close i {
        font-size: 13px;
    }

	#menu {
		border-radius: 4px;
		position: initial;
	}

	#menu div.dropdown-inner>ul.list-unstyled {
		display: block;
	}

	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
	}

	#menu .dropdown-inner {
		display: block;
	}

	#menu .dropdown-inner a {
		width: 100%;
		padding: 6px 20px;
	}

	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: #e45197;
	}

	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #e45197;
	}

	#menu .navbar-collapse {
		position: fixed;
		top: 0;
		left: 0;
		background: #FFF;
		border-right: 1px solid #DDD;
		box-shadow: 0 0 150px 50px #0000007a;
		width: 100%;
		height: 100%;
		z-index: 999;
	}
	
	#menu div.dropdown-menu {
		position: relative;
		box-shadow: none;
		border: 0;
		border-bottom: 1px solid #DDD;
		width: 100%;
		margin-bottom: 12px;
	}
	
	#menu .nav>li>a {
		border-bottom: 1px solid #DDD;
		text-align: left;
	}

#menu .nav>li>a i {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 14px;
}
}

/* content */
#content {
	min-height: 600px;
}

/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #FFF;
	border-top: 1px solid #ddd;
	color: #111;
}

footer hr {
	border-top: none;
	border-bottom: 1px solid #DDD;
}

footer a {
	color: #444;
	font-size: 14px;
	display: block;
	padding: 4px 0;
}

footer a:hover {
	color: #ff2f92;
}

footer h5 {
	font-family: 'Sora', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #111;
}

/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}

/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;
}

.breadcrumb i {
	font-size: 15px;
}

.breadcrumb>li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}

.breadcrumb>li+li:before {
	content: '';
	padding: 0;
}

.breadcrumb>li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

html[dir=rtl] .breadcrumb>li::after {
	top: -3px;
	left: -5px;
	width: 26px;
	height: 26px;
	border-left: 1px solid #DDD;
	border-top: 1px solid #DDD;
	right: unset;
	border-right: unset;
	border-bottom: unset;

}

.pagination {
	margin: 0;
}

/* buttons */
.buttons {
	margin: 1em 0;
}

.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn-xs {
	font-size: 9px;
}

.btn-sm {
	font-size: 10.2px;
}

.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}

.btn-group>.btn,
.btn-group>.dropdown-menu,
.btn-group>.popover {
	font-size: 12px;
}

.btn-group>.btn-xs {
	font-size: 9px;
}

.btn-group>.btn-sm {
	font-size: 10.2px;
}

.btn-group>.btn-lg {
	font-size: 15px;
}

.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}

.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #ff2f92;
	border-color: #1f90bb #1f90bb #145e7a;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}

.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}

.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}

.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}

/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}

.list-group a.active,
.list-group a.active:hover,
.list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}

/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}

.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}

.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}

/* product list */
.product-left-layout {
	border-right: 1px solid #DDD;
	padding-right: 30px;
}

.product-right-layout {
	padding-left: 30px;
}

@media screen and (max-width:767px) {
	#logo img {
		margin: 0 auto 30px;
	}

	.product-left-layout {
		border-right: 0;
		padding-right: 15px;
	}

	.product-right-layout {
		padding-left: 15px;
	}
}


.product-right-layout h1 {
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: bold;
	justify-content: space-between;
}

.product-right-layout h1 button.btn.btn-default {
	background: none;
	border: 0;
	box-shadow: none;
}

.product-right-layout h1 button.btn.btn-default i {
	font-size: 20px;
	color: #e45197;
}

.product-thumb {
	border: 1px solid #ddd;
	overflow: auto;
	position: relative;
	margin-bottom: 20px;
}

.product-thumb h4 a {
	color: #111;
	font-size: 16px;
}

.product-thumb h4 a:hover {
	color: #e45197;
}

ul#price li {
	display: block;
	padding: 0;
	margin: 0;
}

ul#price li span {
	font-size: 14px;
	position: relative;
	top: 0;
}

ul#price li h2 {
	font-weight: bold;
	margin: 0;
	line-height: 32px;
	color: #e45197;
}

#product-product #parcelamento * {
	font-size: 14px !important;
	line-height: 24px;
}

#product-product #parcelamento a,
#product-product #parcelamento a i {
	font-size: 12px !important;
	font-weight: bold;
	color: #e45197;
}

.product-thumb .btn-wishlist {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 28px;
	height: 28px;
	line-height: 26px;
	text-align: center;
	border: 1px solid #DDD;
	background: #F2F2F2;
	border-radius: 100%;
}

.product-thumb .btn-wishlist:hover {
	background: #e45197;
	border: 1px solid rgb(0 0 0 / 15%);
	color: #FFF;
}

.product-thumb .btn-wishlist i {
	margin-left: 0.5px;
}

.product-thumb .image {
	text-align: center;
}

.product-thumb .image a {
	display: block;
}

.product-thumb .image a:hover {
	opacity: 0.8;
}

.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}

.product-grid .product-thumb .image {
	float: none;
}

@media (min-width: 767px) {
	.product-list .product-thumb .image {
		float: left;
		padding: 0 15px;
	}
}

.product-thumb h4 {
	font-weight: bold;
}

.product-thumb .caption {
	padding: 0 20px;
	min-height: 180px;
}

.product-list .product-thumb .caption {
	margin-left: 230px;
}

@media (max-width: 1200px) {
	.product-grid .product-thumb .caption {
		min-height: 210px;
		padding: 0 10px;
	}
}

@media (max-width: 767px) {
	.product-list .product-thumb .caption {
		min-height: 0;
		margin-left: 0;
		padding: 0 10px;
	}

	.product-grid .product-thumb .caption {
		min-height: 0;
	}
}

.product-thumb .rating {
	padding-bottom: 10px;
}

.rating .fa-stack {
	font-size: 7px;
}

.rating .far.fa-star {
	color: #999;
	font-size: 12px;
}

.rating .fa-star {
	color: #FC0;
	font-size: 12px;
}

.rating .fa-star+.far.fa-star {
	color: #E69500;
}


h2.price {
	margin: 0;
}


.product-thumb .price,
.product-thumb .price-new {
	font-weight: 600;
	font-size: 15px;
}

.product-thumb .price-old {
	color: #999;
	font-weight: 500;
	text-decoration: line-through;
	margin-right: 2px;
	top: -5px;
	position: relative;
	font-size: 12px;
}

.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}

.product-thumb .product-buttons {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
	padding: 10px;
	width: 100%;
	position: absolute;
	bottom: 0;
	display: none;
}

.product-thumb:hover .product-buttons {
	display: block;
}

.product-list .product-thumb .product-buttons {
	border-left: 1px solid #ddd;
}

.product-thumb .product-buttons button {
	font-size: 15px;
}

.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.product-thumb .button-group button+button {
	width: 20%;
	border-left: 1px solid #ddd;
}

.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}

@media (max-width: 1200px) {

	.product-thumb .button-group button,
	.product-thumb .button-group button+button {
		width: 33.33%;
	}
}

@media (max-width: 767px) {

	.product-thumb .button-group button,
	.product-thumb .button-group button+button {
		width: 33.33%;
	}
}

.box-shipping {
	background: #F2f2F2;
	border: 1px solid rgb(0 0 0 / 3%);
	padding: 10px 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}

.thumbnails>li {
	margin-left: 20px;
}

.thumbnails {
	margin-left: -20px;
}

.thumbnails>img {
	width: 100%;
}

.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}

.image-additional {
	max-width: 78px;
}

.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {

	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear: left;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {

	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear: left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
	#column-left .product-layout .col-md-3 {
		width: 100%;
	}

	#column-left+#content .product-layout .col-md-3 {
		width: 50%;
	}

	#column-left+#content+#column-right .product-layout .col-md-3 {
		width: 100%;
	}

	#content+#column-right .product-layout .col-md-3 {
		width: 100%;
	}
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}

html[dir=rtl] .checkbox input[type="checkbox"],
html[dir=rtl] .checkbox-inline input[type="checkbox"],
html[dir=rtl] .radio input[type="radio"],
html[dir=rtl] .radio-inline input[type="radio"] {
	position: absolute;
	margin-top: 4px\9;
	margin-right: -20px;
	margin-left: unset;
}

html[dir=rtl] .input-group-btn:last-child>.btn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

html[dir=rtl] .input-group .form-control:first-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: unset;
	border-bottom-left-radius: unset;
}

html[dir=rtl] .container .row:first-child .col-sm-4,
html[dir=rtl] .container .row:first-child .col-sm-5 {
	float: right;

}

html[dir=rtl] #cart .dropdown-menu {
	left: 0;
	right: auto;

}

@media (min-width: 768px) {

	html[dir=rtl] .navbar-nav {
		float: right;
		margin: 0;
	}

	html[dir=rtl] .navbar-nav>li {
		float: right;
	}

}